<!DOCTYPE html>
<html lang="en">

{{> admin/head-admin }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    {{> admin/nav-admin }}
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            {{> admin/breadcrumbs-admin }}
            <div class="row">
                <div class="col-12">

                    {{{ body }}}

                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        {{> admin/footer-admin }}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        {{> admin/logout-modal-admin }}
        <!-- Bootstrap core JavaScript-->
        {{> admin/scripts-admin }}
    </div>
</body>

</html>