<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{{> pages/head }}

<body>
    <!-- Navigation -->
    {{> pages/nav }}

    <!-- Page Content -->
    {{{ body }}}
    
    <!-- Footer -->
    {{> pages/footer }}

    <!-- Copyright -->
    {{> pages/copyright }}

    <!-- Scripts -->
    {{> pages/scripts }}
</body>

</html>
