<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Express Starter Template - Home</title>

    <meta name="keywords" content="" />
    <meta name="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- intlTelInput CSS -->
    <link rel="stylesheet" href="/css/intlTelInput.css">

    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for app -->
    <link href="/css/app.css" rel="stylesheet">
</head>