<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>EST - Express Starter Template &copy; <script>document.write(new Date('July 20, 2019 00:20:18').getFullYear()); document.write(' - '); document.write(new Date().getFullYear());</script>. All rights reserved.</small>
        </div>
    </div>
</footer>